@use 'src/styles/constants/colors';

.pageLayout {
  margin-bottom: 50px;
}

.title{
  margin: 142px 0 128px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.resultGrid {
  margin-bottom: 63px;
  display: flex;
  flex-direction: row;
  max-height: 40vh;
  gap:5%;

  .block {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;

    .texts{
      position: absolute;
    }

    .blockText{
      font-weight: 700;
      font-size: 24px;
    }

    .blockNumber{
      font-weight: 700;
      font-size: 60px;
    }
  }

  .block:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .correct {
    background-color: colors.$PRIMARY;
    color: colors.$WHITE;
  }

  .wrong {
    background-color: colors.$GRAY100;
    color: colors.$BLACK;
  }
}

.buttonContainer {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;

  p {
    font-weight: 400;
    font-size: 12px;
  }
}

