@use 'src/styles/constants/colors';

.toast {
  position: fixed;
  bottom: 1vh;
  left: 50%;
  pointer-events: auto;

  border-radius: 4px;
  padding: 10px 20px;
}

.primary {
  background-color: colors.$PRIMARY;
}
