@use 'src/styles/mixins/responsive';
@use 'src/styles/constants/sizes';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  &.hasAppHeaderWrapper{
    padding-top: sizes.$HEADER;
  }

  &.hasAppFooterWrapper{
    padding-bottom: sizes.$FOOTER;
  }

  .layout {
    width: 900px;
    @include sizes.padding(desktop);
  }

  .hasAppHeader{
    min-height: sizes.$PAGE_EXCEPT_HEADER;
  }

  .withoutAppHeader{
    min-height: 100vh;
  }
}

// responsive : tablet
@include responsive.before(MD){
  .wrapper {
    .layout{
      width: 100%;
      @include sizes.padding(tablet);
    }
  }
}

// responsive : mobile
@include responsive.mobileOnly{
  .wrapper {
    .layout{
      width: 100%;
      @include sizes.padding(mobile);
    }
  }
}

