@use 'src/styles/mixins/responsive';
@use 'src/styles/constants/sizes';

.wrapper {
  display: flex;
  justify-content: center;

  .layout {
    width: 900px;

    @include responsive.before(MD){
      width: 100%;
      padding: 0 20px;
    }
  }
}


