@use 'src/styles/mixins/responsive';
@use 'src/styles/constants/sizes';

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: sizes.$HEADER;

  .layout {
    width: 900px;

    @include responsive.before(MD){
      width: 100%;
      padding: 0 sizes.$OUTLINE_PADDING_M;
    }

    @include responsive.mobileOnly{
      padding: 0 sizes.$OUTLINE_PADDING_S;
    }
  }

  .hasAppHeader{
    min-height: sizes.$PAGE_EXCEPT_HEADER;
  }

  .withoutAppHeader{
    min-height: 100vh;
  }
}


