@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/responsive';

.categoryWrapper {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .card {
    @include flexbox.flexbox;
    @include sizes.font(display2);
    width: 100%;
    background-color: colors.$PRIMARY;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  }

  .card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .card:disabled {
    cursor: default;
  }

  .comingSoon {
    color: colors.$PRIME300;
  }
}

// mobile
@include responsive.mobileOnly{
  .categoryWrapper{
    .card {
      @include sizes.font(subhead3);
    }
  }
}
