@use 'src/styles/constants/sizes';

.versionContainer {
  margin: 47px 0 57px 0;

  .versionTitle {
    p {
      @include sizes.font(subhead3);
    }

    h2 {
      @include sizes.font(headline);
    }

    h3 {
      @include sizes.font(subhead2);
    }
  }

  .versionContent {
    margin-top: 47px;
  }

  .update {
    @include sizes.font(body3);
    position: relative;
    margin-bottom: 30px;

    ul {
      position: relative;
      left: 15px;
    }

    li {
      list-style: disc;
    }

  }
}
