@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';

.quizCard {
  @include flexbox.flexbox;
  width: 100%;
  height: 240px;
  background-color: colors.$GRAY100;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  font-size: sizes.$FONT_LARGE;
  font-weight: bold;
  padding: 30px;

  &.answer {
    background-color: colors.$PRIMARY;
    color: colors.$WHITE;
  }

  &.select {
    background-color: colors.$GRAY200;
    color: colors.$WHITE;
  }
}
