@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/responsive';

.quizCard {
  @include flexbox.flexbox;
  @include sizes.font(display2);
  width: 100%;
  height: 240px;
  background-color: colors.$GRAY100;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 30px;

  &.answer {
    background-color: colors.$PRIMARY;
    color: colors.$WHITE;
  }

  &.select {
    background-color: colors.$GRAY200;
    color: colors.$WHITE;
  }

  &:disabled {
    cursor: default;
  }
}

// responsive: mobile
@include responsive.mobileOnly{
  .quizCard {
    height: 50px;
    @include sizes.font(subhead3);
  }
}
