@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';

.playWrapper {
  @include flexbox.columnFlexbox;
}

.quizTitleCodeBlockWrapper{
  width: 100%;
  margin: 140px 0 60px 0;

  .quizTitle{
    text-align: center;
    font-weight: bold;
  }
}

.quizCardWrapper {
  display: grid;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
}

.buttonWrapper {
  margin: 60px 0;

  .buttonTitle{
    margin-left: 15px;
  }
}

.commentaryWrapper{
  width: 100%;
  margin-bottom: 60px;
  border: 1px solid rgba(0, 0, 0, 30%);
  padding: 45px;

  .answerWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .answer{
      margin-left: 15px;
    }
  }

  .description{
    @include sizes.font(body3);
    white-space: pre-line;
  }
}

@media screen and (min-width: 396px) {
  .quizCardWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .quizTitle{
    @include sizes.font(display2);
  }
}
@media screen and (max-width: 395px) {
  .quizCardWrapper {
    grid-template-columns: 1fr;
  }

  .quizTitle{
    @include sizes.font(subhead3);
  }
}

