@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/responsive';

.dqButton {
  // TODO : refactor Button && modify display style
  @include sizes.font(body3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:9px;
  background-color: #F8E115;
  border: none;
  border-radius: 3px;
  width: 230px;
  height: 40px;
  color: black;
  text-align: center;

  &:active {
    background-color: #E8D424;
  }

  &:disabled {
    background-color: colors.$GRAY100;
  }
}

// responsive : mobile
@include responsive.mobileOnly {
  .dqButton {
    @include sizes.font(body2);
  }
}
