@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.footerWrapper {
  @include flexbox.flexbox;
  width: 100%;
  height: 50px;
  background-color: colors.$GRAY100;
  color: colors.$GRAY200
}