@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/colors';
@use 'src/styles/mixins/animation';
@use 'src/styles/constants/sizes';

.inputWrapper {
  display: flex;

  .input {
    @include sizes.font(body3);
    padding: 0 16px;
    height: 40px;
    background-color: rgba(34, 34, 34, 0.1);
    border-radius: 3px 0 0 3px;

    &::placeholder {
      @include sizes.font(body3);
      color: rgba(34, 34, 34, 0.3);
    }

    &.login {
      // dynamic style
    }

    &.subscription {
      // dynamic style
    }
  }

  .inputButton {
    @include flexbox.flexbox;
    width: 50px;
    height: 40px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 0 3px 3px 0;

    .rightArrow {
      color: colors.$WHITE;
    }

    &[disabled] {
      animation: fade-out 0.3 ease-in-out;
      background-color: rgba(34, 34, 34, 0.3);
    }
  }
}

