@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/responsive';

.nav {
  height: sizes.$HEADER;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  position: fixed;
  width: 100%;

  &.flexRow, .flexRow{
    display: flex;
    flex-direction: row;
  }

  .navMenu {
    @include flexbox.flexbox('between');
    height: 100%;
    width: inherit;
    max-width: 50vw;

    div{
      display: flex;
      align-items: center;
      justify-content: right;
      height: 100%;
      width: 30%;
      cursor: pointer;

      p{
        @include sizes.font(body3);
      }
    }
  }

  .logoWrapper{
    display: flex;
    align-items: center;
    height: 100%;

    .logo {
      cursor: pointer;
      color: colors.$PRIMARY;
    }
  }
}

// responsive : mobile
@include responsive.mobileOnly{
  .nav {
    padding: 0 20px;

    .logo{
      position: absolute;
      left: -10px;
      scale: 0.7;
    }

    .navMenu {
      div{
        p{
          @include sizes.font(body2);
        }
      }
    }
  }
}
