@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';

.pageLayout {
  @include flexbox.flexbox;
  height: sizes.$PAGE_EXCEPT_HEADER;
  width: 100%;
  overflow-y: unset;

  .imageContainer{
    position: relative;
    height: inherit;
  }

  @media screen and (max-width: 395px) {
    flex-direction: column;
    .imageContainer {
      margin-top: 30px;
      height: 30%;
      width: inherit;
    }

  }

  @media screen and (min-width: 396px) {
    overflow-y: unset;

    .imageContainer {
      @include flexbox.flexbox('end');
      padding: 10vh 32px;
      width: 50%;

      border-right: colors.$GRAY100 3px solid;
    }

    .content {
      width: 50%;
    }

  }
    .content {
      padding: 10vh 32px;
      height: 100%;
      overflow-y: scroll;

      p{
        line-height: normal;
      }

      h2 {
        font-weight: 700;
        font-size: 30px;
      }
    }

  .innerContent {
    margin-bottom: 70px;
  }

  .title {
    margin-bottom: 38px;
  }

  .innerTitle {
    @include flexbox.flexbox('start')
  }

  .underline {
    display: inline-block;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 12px;
      background-color: colors.$PRIMARY;
      z-index: -1;
    }

  }

  .members {
    h3{
      font-size: 21px;
      font-weight: 700;
    }

    .nameTitle {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 8px;
      justify-content: space-between;
      a {
        margin-left: 8px;
      }
    }

    .description {
      white-space: pre-line;
    }

    display: flex;
    flex-direction: column;
    gap:24px;
  }
}
