@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/responsive';


.pageLayout {
  @include flexbox.flexbox;
  height: sizes.$PAGE_EXCEPT_HEADER;
  width: 100%;
  overflow-y: unset;

  .imageContainer{
    position: relative;
    height: inherit;
    @include flexbox.flexbox('end');
    padding: 10vh 32px;
    width: 50%;
    border-right: colors.$GRAY100 3px solid;
  }

  .content {
    width: 50%;
    padding: 10vh 32px;
    height: 100%;
    overflow-y: scroll;

    p{
      @include sizes.font(body2);
    }

    h2 {
      @include sizes.font(display1);
    }
  }

  .innerContent {
    margin-bottom: 70px;
  }

  .title {
    margin-bottom: 38px;
  }

  .innerTitle {
    @include flexbox.flexbox('start');
    margin-top: 10px;
  }

  .underline {
    display: inline-block;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 12px;
      background-color: colors.$PRIMARY;
      z-index: -1;
    }

  }

  .members {
    h3{
      @include sizes.font(headline);
    }

    .nameTitle {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 8px;
      justify-content: space-between;
      a {
        margin-left: 8px;
      }
    }

    .description {
      white-space: pre-line;
    }

    display: flex;
    flex-direction: column;
    gap:24px;
  }
}

// responsive : mobile
@include responsive.mobileOnly{
  .pageLayout {
    flex-direction: column;

    .imageContainer {
      border: none;
      height: 30%;
      width: inherit;
    }

    .content {
      width: 100%;
      padding: 0;

      .title{
        margin: 30px 0;

        .innerTitle{
          margin-top: 0;
        }
      }
    }
  }
}
