// Grayscale
$WHITE: #ffffff;
$BLACK: #111111;
$GRAY100: #e9e9e9;
$GRAY200: #bcbcbc;

// Prime
$PRIMARY: #F8E115;
$PRIME100: #FAEC6E;
$PRIME300: #BBAB25;
$ERROR: #FF4141;

// Other
$SHADOW: rgba(0, 0, 0, 4%);
