// Grayscale
$WHITE: #ffffff;
$BLACK: #111111;
$BLACK30: #1c1d1f;
$BLACK50: #101113;
$GRAY50: #edeff1;
$GRAY100: #d1d8dc;
$GRAY300: #94a2ad;
$GRAY800: #3a474e;

// Prime
$PRIMARY: #ff0558;

// BG
$BACKGROUND: #ffffff;

// Other
$SHADOW: rgba(0, 0, 0, 4%);
